*{padding: 0px;margin: 0px;}
.container{height: 400px;width: 400px;overflow: hidden;position: relative;margin: 0px auto; margin-top: 120px;}
.context{height: 336px;width: 336px;border-top: 1px solid #111;border-right: 1px solid #111;}
.gezi{height: 20px;width: 20px; border-bottom: 1px solid #111;border-left: 1px solid #111;float: left;
	background: #aaa; font-size: 14px;text-align: center;line-height: 20px;}
.img_boom{width: 0px;opacity: 1}
.img_flag{height: 11px;width: 11px;opacity: 0.8}